* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;

  /* --hue-: hsl(300, 74%, 19%); */
  --hue: 270;
  --primarytable-color: hsl(var(--hue), 72%, 15%);
  --secondarytable-color: hsl(var(--hue), 61%, 6%);
  --tertiarytable-color: hsl(var(--hue), 65%, 7%);
  --bordertable-color: hsl(var(--hue), 31%, 30%);
  --outline-color: hsl(var(--hue), 31%, 42%);
  --scrollbarthumb-color: hsla(var(--hue), 40%, 42%, 1);
  --favoritebutton-color: hsl(var(--hue), 91%, 25%);
  --ff-color: #E1E1E6;
  --ff-roboto: 'Roboto', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: #110018;
  font-family: var(--ff-roboto);
}

#app {
  max-width: 1128px;
  margin: 0 auto;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 11.5rem 0 8.7rem;
}

.search {
  display: flex;
  gap: 0.8rem;
}

.search input {
  font-size: 1.6rem;
  line-height: 1.6rem;
  width: 46.2rem;
  height: 4.77rem;
  color: var(--ff-color);

  border-radius: 5px;
  border: none;
  padding: 1.6rem;

  background-color: var(--tertiarytable-color);
}

.search input:focus {
  outline: 2px solid var(--outline-color);
}

.search button {
  background: none;
  border: none;

  position: relative;
  cursor: pointer;
}

.search button svg rect {
  fill: var(--favoritebutton-color);
}

.search button span {
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  position: absolute;

  top: 1.6rem;
  right: 3.2rem;
}

.search button:focus {
  outline: none;
  transform: scale(1.03);
  opacity: calc(0.9);
}

.search button:hover {
  transform: scale(1.03);
  opacity: calc(0.9);
}

table {
  border-collapse: separate;
  border-spacing: 0;

  color: var(--ff-color);
  font-size: 2rem;
}

table tbody p {
  font-weight: 700;
}

table tr {
  background-color: var(--secondarytable-color);
}

table tr:nth-child(even) {
  background-color: var(--tertiarytable-color);
}

thead tr th {
  /* padding: 1.6rem 7rem 1.6rem 4rem; */
  background-color: var(--primarytable-color);

  font-weight: 700;
}

thead tr th:first-child {
  padding: 1.6rem 39.4rem 1.6rem 4rem;
  border-top-left-radius: 1.2rem;
}

thead tr th:nth-child(2) {
  padding: 1.6rem 6.4rem 1.6rem 5.9rem;
}

thead tr th:nth-child(3) {
  padding: 1.6rem 9.2rem 1.6rem 4rem;
}

thead tr th:last-child {
  padding: 1.6rem 9.2rem 1.6rem 4rem;
  border-top-right-radius: 1.2rem;
}

tbody img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

tbody tr td {
  padding: 2.4rem 0;
  border-bottom: 2px solid var(--primarytable-color);
}

tbody tr td:first-child {
  padding-right: 8.1rem;
  padding-left: 4rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

tbody tr td a {
  width: 31.1rem;
}

tbody .repos,
tbody .followers {
  width: 21.9rem;
  padding-left: 3rem;
}

tbody tr td:last-child {
  width: 17.4rem;
  padding-left: 3rem;
}

tbody a {
  text-decoration: none;
  color: var(--ff-color);
}

tbody a:focus {
  outline: none;
  opacity: calc(0.8);
  transform: scale(1.03);
}

tbody a:hover {
  opacity: calc(0.8);
}

tbody a p {
  margin-bottom: 0.5rem;
}

tbody .buttonRemove {
  background: none;
  color: #F75A68;
  cursor: pointer;
  font-size: 2rem;
  border: none;
}

tbody .buttonRemove:focus {
  outline: none;
  transform: scale(1.03);
  opacity: calc(0.9);
}

tbody .buttonRemove:hover {
  transform: scale(1.03);
  opacity: calc(0.8);
}

main {
  position: relative;
}

.emptyfullMessage {
  display: none;
}

.empty {
  display: flex;
  align-items: center;

  font-family: var(--ff-roboto);
  font-size: 4.0rem;
  font-weight: 700;

  color: hsla(189, 4%, 32%, 1);

  position: absolute;
  top: 19rem;
  left: 26.5rem;
}

.full {
  display: none;
}

.empty svg {
  margin-right: 6.0rem;
}

thead,
tbody {
  display: block;
}

tbody {
  overflow-y: scroll;
  height: 31.8rem;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.6rem;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;

  background-color: var(--scrollbarthumb-color);
}

::-webkit-scrollbar-track-piece {
  background-color: var(--primarytable-color);
} 